<% if (typeof _.get(forestay.config.attributes[attrKey], ["meta","forestay","populateBy"]) != "string"){ %>
  <p>Please add attribute <strong>populateBy</strong> to your model to display these optoins, or hide this field from the form.</p>
  <% } else { %>
    <% if (_.get(forestay.config.attributes[attrKey], ["meta","forestay","createUpdateUi"]) === 'tagging') { %>
      <% include ("createUpdateCollectionsTagging.ejs", { attrKey: attrKey }); %>
    <% } else { // end createUpdateUi Type%>
      <%
      var cpt=0;
      forestay.config.attributes[attrKey].availableValues.forEach(function(av){ %>

          <%
            var selected = "";
          %>
          <%
            if(forestay.id){
              forestay.config.attributes[attrKey].selectedValues.forEach(function(sv){
                if(sv.id == av.id && forestay.config.attributes[attrKey].meta.forestay.displayAs!=="select") selected = "checked"
                else if(sv.id == av.id && forestay.config.attributes[attrKey].meta.forestay.displayAs==="select") selected = "selected";
              })
            } else if (typeof _.get(forestay.config.attributes[attrKey], ['meta', 'forestay', 'defaultValue']) != "undefined") {
              _.get(forestay.config.attributes[attrKey], ['meta', 'forestay', 'defaultValue']).forEach(function(value) {
                if(value == av.id && forestay.config.attributes[attrKey].meta.forestay.displayAs!=="select") selected = "checked"
                else if(value == av.id && forestay.config.attributes[attrKey].meta.forestay.displayAs==="select") selected = "selected";
              });
            }
          %>
           <% if(forestay.config.attributes[attrKey].meta.forestay.displayAs ==="select"){ %>

             <% if(cpt++==0) {%> <select class="select-<%= attrKey %>" multiple name="<%= attrKey %>[]" style="min-width: 300px" <%= attributeMutable %> > <% } %>
            <option value="<%= av.id %>" <%= selected %>>
              <%= av[forestay.config.attributes[attrKey].meta.forestay.populateBy] %>
            </option>
          <% } else { %>
            <div >
              <input type="checkbox" name="<%= attrKey %>[]" value="<%= av.id %>" <%= selected %>>
              <label for="<%= attrKey %>[]">
                <%= av[forestay.config.attributes[attrKey].meta.forestay.populateBy] %>
              </label>
           </div>
          <% } %>

        <% })

 if(forestay.config.attributes[attrKey].meta.forestay.displayAs=="select"){%> </select>  <% }%>
    <% }%>
<% } /* end else popualteBy !=string */ %>
