<%
  var pageTitle =
    _.get(forestay, ["config","forestay","title"]) ||
    _.get(forestay, ["model","name"]) ||
    "forestay Model";


%>

  <h1><%= pageTitle %></h1>
  <h6>
    <% if(!forestay.id) { %>Create New<% } %>
    <% if(forestay.id) { %>Update <% } %>
    <%= _.get(forestay, ["model","name"])%>
    <% if(forestay.id) { %><%= forestay.id %><% } %>
  </h6>
  <hr/>
  <form method="post">
    <table class="table">
      <% Object.keys(forestay.config.attributes).forEach(function(attrKey, i){ %>
        <%
      var this_attr = forestay.config.attributes[attrKey]

      if (_.get(this_attr, ["meta","forestay","hideInForm"]) === true){
        // do nothing if this field is meant to be hidden
      }
      else {
    %>
          <tr>
            <td style="width: <%= _.get(forestay.config.forestay, ["createUpdate","labelWidth"]) || 200 %>px; text-align: right">
              <%=
          _.get(this_attr, ["meta","forestay","label"]) ||
          attrKey
        %>:
            </td>
            <td>
              <%

      var attributeType = _.get(forestay.config.attributes[attrKey],"type") ||  _.get(forestay.config.attributes, [attrKey]) || ""

      if(typeof attributeType != "string") attributeType ="";

      if (typeof _.get(forestay.config.attributes[attrKey], ['collection']) === 'string') attributeType = 'collection'
      attributeType = attributeType.toLowerCase();

      if(attributeType == "string" && Array.isArray(_.get(forestay.config.attributes[attrKey],["validations","isIn"]))){
        attributeType = "enum"
        var enumOptions = _.get(forestay.config.attributes[attrKey],["validations","isIn"])
      }

      var value = "";
      var required = "";



      if (_.get(forestay.config.attributes[attrKey], "required") === true) {
        required = "required"
      }
      if (forestay.id) {
        value = `value='${record[attrKey]}'`
      }



              %>

    <% if(attributeType == "string"){ %>
                  <input style="width:100%" name="<%= attrKey %>" <%- value %> <%= required %>>
                <% } else if(attributeType == "number"){ %>
                  <input style="width:100%" type="number" name="<%= attrKey %>" <%- value %> <%= required %>>
                <% } else if(attributeType == "boolean"){
                    var trueSelected = ""
                    var falseSelected = ""
                    if(forestay.id && record[attrKey] == true) trueSelected = "selected"
                    if(forestay.id && record[attrKey] == false) falseSelected = "selected"
                  %>
                  <select name="<%= attrKey %>" <%= required %>>
                    <option></option>
                    <option value="true" <%= trueSelected %>>True</option>
                    <option value="false" <%= falseSelected %>>False</option>
                  </select>
                <% } else if (attributeType == "enum"){ %>
                  <select name="<%= attrKey %>" <%= required %>>
                    <option></option>
                    <% enumOptions.forEach(function(o){ %>
                      <% var isSelected = "" %>
                      <% if(forestay.id && o === record[attrKey]) isSelected = "selected" %>
                      <option value="<%= o %>" <%= isSelected %>><%= o %></option>
                    <% }) %>
                </select>
                <% } else if (attributeType == "collection"){ %>
                  <%- include createUpdateCollections.ejs %>
                <% }else { // unknown attribute type %>
                  (can't edit <strong><%= attributeType %></strong> attributes at this time)
                  <% }%>
            </td>

          </tr>
          <% } // End if !== hideInForm %>
          <% }) %>





    </table>
    <input type="hidden" name='_csrf' value='<%= _csrf %>'>
    <button class="btn btn-info" style="width:100%">Submit</button>
  </form>
