<%
  var pageTitle =
    _.get(forestay, ["config","forestay","title"]) ||
    _.get(forestay, ["model","name"]) ||
    "forestay Model";

%>

  <h1><%= pageTitle %></h1>
  <h6>
    <% if(!forestay.id) { %>Create New<% } %>
    <% if(forestay.id) { %>Update <% } %>
    <%= _.get(forestay, ["model","name"])%>
    <% if(forestay.id) { %><%= forestay.id %><% } %>
  </h6>
  <hr/>
  <form method="post">
    <table class="table">
      <% Object.keys(forestay.config.attributes).forEach(function(attrKey, i){ %>
        <%
      var this_attr = forestay.config.attributes[attrKey]
    %>
          <tr>
            <td style="width: <%= _.get(forestay.config.forestay, ["createUpdate","labelWidth"]) || 200 %>px; text-align: right">
              <%=
          _.get(this_attr, ["meta","forestay","label"]) ||
          attrKey
        %>:
            </td>
            <td>
              <%

      var attributeType = _.get(forestay.config.attributes[attrKey],"type") ||  _.get(forestay.config.attributes, [attrKey]) || ""
      attributeType = attributeType.toLowerCase();
      if(attributeType == "string"){ %>
                <input
                  style="width:100%" name="<%= attrKey %>"
                  <% if (forestay.id) { %>
                    value="<%= record[attrKey] %>"
                  <% }%>
                  >
                <% } else { %>
                  (can't edit <strong><%= attributeType %></strong> attributes at this time)
                  <% }%>
            </td>

          </tr>
          <% }) %>





    </table>
    <input type="hidden" name='_csrf' value='<%= _csrf %>'>
    <button class="btn btn-info" style="width:100%">Submit</button>
  </form>
