<%
  var pageTitle =
    _.get(forestay, ["config","forestay","title"]) ||
    _.get(forestay, ["model","name"]) ||
    "forestay Model";


%>

  <h1><%= pageTitle %></h1>
  <h6>
    <% if(!forestay.id) { %>Create New<% } %>
    <% if(forestay.id) { %>Update <% } %>
    <%= _.get(forestay, ["model","name"])%>
    <% if(forestay.id) { %><%= forestay.id %><% } %>
  </h6>
  <hr/>
  <form method="post" class="form form-<%= forestay.model.name %>">
    <table class="table">
      <% Object.keys(forestay.config.attributes).forEach(function(attrKey, i){ %>
        <%
      var this_attr = forestay.config.attributes[attrKey]

      if (_.get(forestay.config.attributes[attrKey], ["meta","forestay","hideInForm"]) === true){
        // do nothing if this field is meant to be hidden

      }
      else {
    %>
          <tr>
            <td class="form form-<%=attrKey %>" style="width: <%= _.get(forestay.config.forestay, ["createUpdate","labelWidth"]) || 200 %>px; text-align: right">
              <div class="label">
                <%=
                  _.get(this_attr, ["meta","forestay","label"]) ||
                  attrKey
                %>:
              </div>
              <% if(_.get(this_attr, ["description"])) { %>
                <div class="description">
                  <%= this_attr.description %>
                </div>
              <% } %>

            </td>
            <td>
              <%

      var attributeType = _.get(forestay.config.attributes[attrKey],"type") ||  _.get(forestay.config.attributes, [attrKey]) || ""

      if(typeof attributeType != "string") attributeType ="";

      if (typeof _.get(forestay.config.attributes[attrKey], ['collection']) === 'string') attributeType = 'collection'
      if (typeof _.get(forestay.config.attributes[attrKey], ['model']) === 'string') attributeType = 'model'
      if (typeof _.get(forestay.config.attributes[attrKey], ['meta', 'forestay', 'displayAs']) != "undefined" && _.get(forestay.config.attributes[attrKey], ['meta', 'forestay', 'displayAs']) == 'textarea') {
        attributeType = 'text';
      }
      attributeType = attributeType.toLowerCase();

      var enumOptions

      if(attributeType == "string" || attributeType == "number"){
        // I've seen both formats for
        if (Array.isArray(_.get(forestay.config.attributes[attrKey],["validations","isIn"]))) {
          enumOptions = _.get(forestay.config.attributes[attrKey],["validations","isIn"])
          attributeType = "enum"
        }
        if (Array.isArray(_.get(forestay.config.attributes[attrKey],["isIn"]))){
          enumOptions = _.get(forestay.config.attributes[attrKey],["isIn"])
          attributeType = "enum"
       }
       if (Array.isArray(_.get(forestay.config.attributes[attrKey],["enum"]))){
         enumOptions = _.get(forestay.config.attributes[attrKey],["enum"])
         attributeType = "enum"
       }

      }



      var value = "";
      var required = "";
      var v
      var attributeValue



      if (_.get(forestay.config.attributes[attrKey], "required") === true) {
        required = "required"
      }
      if (forestay.id) {

        if(typeof record[attrKey] === "string") v = record[attrKey].split('"').join("&quot;") //.replace(/\"/g,'&quot;')
        else v = record[attrKey]

        if (record[attrKey] === null) v = ""

        value = `value="${v}"`
      }  else {

      if (typeof _.get(forestay.config.attributes[attrKey], ['meta', 'forestay', 'defaultValue']) != "undefined") {
        value = `value="${_.get(forestay.config.attributes[attrKey], ['meta', 'forestay', 'defaultValue'])}"`
        attributeValue = _.get(forestay.config.attributes[attrKey], ['meta', 'forestay', 'defaultValue'])
      }

      if(typeof _.get(forestay,["prefills",attrKey]) != "undefined"){
        value = `value="${forestay.prefills[attrKey]}"`
        attributeValue = forestay.prefills[attrKey]
      }

    }
              %>

              <% if(attributeType == "string"){ %>
                  <input style="width:100%" name="<%= attrKey %>" class="input input-<%= attrKey %>" <%- value %> <%= required %>>
                <% } else if(attributeType == "json"){ %>
                <% if(forestay.id) { %>
                  <textarea style="width:100%; height: 200px" name="<%= attrKey %>" class="text-input text-input-<%= attrKey %>" <%= required %> ><%- JSON.stringify(record[attrKey]) %></textarea>
                <% } else { %>
                  <textarea style="width:100%; height: 200px" name="<%= attrKey %>" class="text-input text-input-<%= attrKey %>" <%= required %> ><%- JSON.stringify(attributeValue) %></textarea>
                <% } %>
                <% } else if(attributeType == "number"){ %>
                  <input style="width:100%" type="number" name="<%= attrKey %>" class="number-input number-input-<%= attrKey %>" <%- value %> <%= required %>>
                <% } else if(attributeType == "text"){ %>
                  <textarea style="width:100%; height: 200px" name="<%= attrKey %>" class="text-input text-input-<%= attrKey %>" <%= required %> ><%if(forestay.id){ %><%- record[attrKey]%><% } %></textarea>
                <% } else if(attributeType == "boolean"){
                    var trueSelected = ""
                    var falseSelected = ""
                    if(forestay.id && record[attrKey] == true) trueSelected = "selected"
                    if(! forestay.id && attributeValue == true) trueSelected = "selected"
                    if(forestay.id && record[attrKey] == false) falseSelected = "selected"
                    if(! forestay.id && attributeValue == false) falseSelected = "selected"
                  %>
                  <select name="<%= attrKey %>" <%= required %> class="boolean-input boolean-input-<%= attrKey %>">
                    <option></option>
                    <option value="true" <%= trueSelected %>>
                      <% if(typeof _.get(forestay.config.attributes[attrKey],["meta","forestay","booleanLabels","true"]) === "string"){ %>
                        <%= forestay.config.attributes[attrKey].meta.forestay.booleanLabels.true %>
                      <% } else { %>
                        True
                      <% } %>
                    </option>
                    <option value="false" <%= falseSelected %>>
                      <% if(typeof _.get(forestay.config.attributes[attrKey],["meta","forestay","booleanLabels","false"]) === "string"){ %>
                        <%= forestay.config.attributes[attrKey].meta.forestay.booleanLabels.false %>
                      <% } else { %>
                        False
                      <% } %>
                    </option>
                  </select>
                <% } else if (attributeType == "enum"){ %>
                  <select name="<%= attrKey %>" <%= required %>>
                    <option></option>
                    <% enumOptions.forEach(function(o){ %>
                      <% var isSelected = "" %>
                      <% if(forestay.id && o === record[attrKey]) isSelected = "selected" %>
                      <% if(! forestay.id && o == attributeValue) isSelected = "selected" %>
                      <option value="<%= o %>" <%= isSelected %>><%= o %></option>
                    <% }) %>
                </select>
                <% } else if (attributeType == "collection"){ %>
                  <%- include createUpdateCollections.ejs %>
                <% } else if (attributeType == "model"){ %>
                  <%- include createUpdateModels.ejs %>
                <% }else { // unknown attribute type %>
                  (can't edit <strong><%= attributeType %></strong> attributes at this time)
                  <% }%>
            </td>

          </tr>
          <% } // End if !== hideInForm %>
          <% }) %>





    </table>
    <input type="hidden" name='_csrf' value='<%= _csrf %>'>
    <button class="btn btn-info" style="width:100%">Submit</button>
  </form>

  <style>
    .description {
      font-size: 12px;
      color: #888
    }
  </style>
