<%
  var pageTitle =
    _.get(forestay, ["config","forestay","title"]) ||
    _.get(forestay, ["model","name"]) ||
    "forestay Model";

  var showId = (_.get(forestay.config.forestay.index, ["showId"]) === true)
  var showCreatedAt = (_.get(forestay.config.forestay.index, ["showCreatedAt"]) === true)
  var showUpdatedAt = (_.get(forestay.config.forestay.index, ["showUpdatedAt"]) === true)

%>
<h1><%= pageTitle %></h1>
<% if (_.get(forestay,['config','forestay','index','hideAddButton']) !== true) { %>
  <a href="<%= _.get(forestay, ["config","forestay","urlPrefix"]) %>create"><button class="btn btn-primary">Add <%= _.get(forestay, ["model","name"]) %> </button></a>
<% } %>

<% if (typeof _.get(forestay.config.forestay,["actions"]) == "object") { %>
  <% Object.keys(forestay.config.forestay.actions).forEach(function (actionKey) { %>
    <% if(_.get(forestay.config.forestay.actions, [actionKey, "type"]) == "index"){ %>
      <a href="<%= actionKey %>" class="btn btn-success"><%= forestay.config.forestay.actions[actionKey].label %></a>
    <% } %>
  <% }) %>
<% } %>
<hr/>
<table class="table">
  <thead>
    <form>
    <% if(showId){ %>
      <th>ID
        <% if (_.get(forestay,"hasFilters") === true) { %>
          <div class="filterBox"></div>
        <% } %>
      </th>
    <% } %>
    <% Object.keys(forestay.config.attributes).forEach(function(attrKey, i){ %>
      <%

      if (_.get(forestay.config.attributes[attrKey], ["meta","forestay","hideInIndex"]) === true){
        // do nothing if this field is meant to be hidden
      }
      else {
      %>
      <th>


        <%
          var this_attr = forestay.config.attributes[attrKey]
        %>
        <%=
          _.get(this_attr, ["meta","forestay","label"]) ||
          attrKey
        %>
        <% if (_.get(forestay,"hasFilters") === true) { %>
          <div class="filterBox">
        <% } %>
            <% if(_.get(this_attr, ["meta","forestay","filterable"]) == true) { %>
              <% var value = "" %>
              <% if (typeof _.get(forestay.filter,[attrKey]) != "undefined") value = forestay.filter[attrKey] %>

                <input value="<%= value %>" name="<%= attrKey %>">

            <% } %>
        <% if (_.get(forestay,"hasFilters") === true) { %>
          </div>
        <% } %>


      </th>
      <% } // end hideInIndex else %>
    <% }) %>
    <% if(showCreatedAt){ %>
      <th>
        Created
        <% if (_.get(forestay,"hasFilters") === true) { %>
          <div class="filterBox"></div>
        <% } %>
      </th>
    <% } %>
    <% if(showUpdatedAt){ %>
      <th>
        Updated
        <% if (_.get(forestay,"hasFilters") === true) { %>
          <div class="filterBox"></div>
        <% } %>
      </th>
    <% } %>
    <th>
      Delete
      <% if (_.get(forestay,"hasFilters") === true) { %>
        <div class="filterBox"></div>
      <% } %>
    </th>
    <% if (typeof _.get(forestay.config.forestay,["actions"]) == "object") { %>
      <% Object.keys(forestay.config.forestay.actions).forEach(function (actionKey) { %>
        <% if(_.get(forestay.config.forestay.actions,[actionKey,"type"]) == "record"){ %>
          <th>
            <%= forestay.config.forestay.actions[actionKey].label %>
            <% if (_.get(forestay,"hasFilters") === true) { %>
              <div class="filterBox"></div>
            <% } %>
          </th>
        <% } %>
      <% }) %>
    <% } %>
    <th>
      Edit
      <% if (_.get(forestay,"hasFilters") === true) { %>
        <div class="filterBox"><input type="submit" value="filter"></div>
      <% } %>
    </th>

    </form>
  </thead>
  <% forestay.records.forEach(function(row, index){ %>


    <tr>
      <% if(showId){ %>
        <td>
          <%= row.id %>
        </td>
      <% } %>
      <% Object.keys(forestay.config.attributes).forEach(function(attrKey, i){ %>

      <% if (_.get(forestay.config.attributes[attrKey], ["meta","forestay","hideInIndex"]) === true){
          // do nothing if this field is meant to be hidden
        }
        else { %>
          <td>
            <%= row[attrKey] %>
          </td>
        <% } // end else for if hideInIndex %>
      <% }) %>
      <% if(showCreatedAt){ %>
        <td><%= moment(row.createdAt).fromNow()%></td>
      <% } %>
      <% if(showUpdatedAt){ %>
        <td><%= moment(row.updatedAt).fromNow() %></td>
      <% } %>
      <td>
        <form method="post" action="<%= _.get(forestay, ["config","forestay","urlPrefix"]) %><%= row.id %>/delete">
          <input type="hidden" name='_csrf' value='<%= _csrf %>'>
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
      </td>

      <% include indexActionsRecordRow.ejs %>

      <td>
        <a href="<%= _.get(forestay, ["config","forestay","urlPrefix"]) %><%= row.id %>/edit" class="btn btn-info btn-sm">Edit</a>
      </td>
    </tr>

  <% }) %>
</table>

<% if (_.get(forestay,['config','forestay','index','footerHtml'])) { %><%- forestay.config.forestay.index.footerHtml %><% } %>

<style>
  .filterBox {
    height: 32px;

  }

</style>
