<%
  var pageTitle =
    _.get(forestay, ["config","forestay","title"]) ||
    _.get(forestay, ["model","name"]) ||
    "forestay Model";

  var showId = (_.get(forestay.config.forestay.index, ["showId"]) === true)
  var showCreatedAt = (_.get(forestay.config.forestay.index, ["showCreatedAt"]) === true)
  var showUpdatedAt = (_.get(forestay.config.forestay.index, ["showUpdatedAt"]) === true)

%>
<h1><%= pageTitle %></h1>
<% if (_.get(forestay,['config','forestay','index','hideAddButton']) !== true) { %>
  <a href="<%= _.get(forestay, ["config","forestay","urlPrefix"]) %>create"><button class="btn btn-primary">Add <%= _.get(forestay, ["model","name"]) %> </button></a>
<% } %>

<% if (typeof _.get(forestay.config.forestay,["actions"]) == "object") { %>
  <% Object.keys(forestay.config.forestay.actions).forEach(function (actionKey) { %>
    <% if(_.get(forestay.config.forestay.actions, [actionKey, "type"]) == "index"){ %>
      <a href="<%= actionKey %>" class="btn btn-success"><%= forestay.config.forestay.actions[actionKey].label %></a>
    <% } %>
  <% }) %>
<% } %>
<hr/>

<% if (_.get(forestay.config, ["forestay","index","aboveTableCustomHtml"])){ %>
  <%- forestay.config.forestay.index.aboveTableCustomHtml %>
<% } %>
<table class="table">
  <thead>
    <form>
    <% if(showId){ %>
      <th>ID
        <% if (_.get(forestay,"hasFilters") === true) { %>
          <div class="filterBox"></div>
        <% } %>
      </th>
    <% } %>
    <% Object.keys(forestay.config.attributes).forEach(function(attrKey, i){ %>
      <%

      if (_.get(forestay.config.attributes[attrKey], ["meta","forestay","hideInIndex"]) === true){
        // do nothing if this field is meant to be hidden
      }
      else {
      %>
      <th>


        <%
          var this_attr = forestay.config.attributes[attrKey]
        %>
        <%=
          _.get(this_attr, ["meta","forestay","label"]) ||
          attrKey
        %>
        <% if (_.get(forestay,"hasFilters") === true) { %>
          <div class="filterBox">
        <% } %>
            <% if(_.get(this_attr, ["meta","forestay","filterable"]) == true) { %>
              <% var value = "" %>
              <% if (typeof _.get(forestay.filter,[attrKey]) != "undefined") value = forestay.filter[attrKey] %>

                <input value="<%= value %>" name="<%= attrKey %>">

            <% } %>
        <% if (_.get(forestay,"hasFilters") === true) { %>
          </div>
        <% } %>


      </th>
      <% } // end hideInIndex else %>
    <% }) %>
    <% if(showCreatedAt){ %>
      <th>
        Created
        <% if (_.get(forestay,"hasFilters") === true) { %>
          <div class="filterBox"></div>
        <% } %>
      </th>
    <% } %>
    <% if(showUpdatedAt){ %>
      <th>
        Updated
        <% if (_.get(forestay,"hasFilters") === true) { %>
          <div class="filterBox"></div>
        <% } %>
      </th>
    <% } %>
    <% if(_.get(forestay,['config','forestay','index','hideDeleteButton']) !== true){ %>
      <th>
        Delete
        <% if (_.get(forestay,"hasFilters") === true) { %>
          <div class="filterBox"></div>
        <% } %>
      </th>
    <% } %>
    <% if (typeof _.get(forestay.config.forestay,["actions"]) == "object") { %>
      <% Object.keys(forestay.config.forestay.actions).forEach(function (actionKey) { %>
        <% if(_.get(forestay.config.forestay.actions,[actionKey,"type"]) == "record"){ %>
          <th>
            <%= forestay.config.forestay.actions[actionKey].label %>
            <% if (_.get(forestay,"hasFilters") === true) { %>
              <div class="filterBox"></div>
            <% } %>
          </th>
        <% } %>
      <% }) %>
    <% } %>
    <% if(_.get(forestay,['config','forestay','index','hideEditButton']) !== true){ %>
      <th>
        Edit
        <% if (_.get(forestay,"hasFilters") === true) { %>
          <div class="filterBox"><input type="submit" value="filter"></div>
        <% } %>
      </th>
    <% } %>
    </form>
  </thead>


  <% forestay.records.forEach(function(row, index){ %>


    <tr>
      <% if(showId){ %>
        <td class="id id-<%= row.id %>">
          <%= row.id %>
        </td>
      <% } %>
      <% Object.keys(forestay.config.attributes).forEach(function(attrKey, i){ %>
        <%

        var attributeType = _.get(forestay.config.attributes[attrKey], 'type') || _.get(forestay.config.attributes, [attrKey]) || ''

        %>
      <% if (_.get(forestay.config.attributes[attrKey], ["meta","forestay","hideInIndex"]) === true){
          // do nothing if this field is meant to be hidden
        }
        else { %>
          <td class="field field-<%= attrKey %>">
            <% if(typeof _.get(row, ['forestay_replace',attrKey])==="string"){ %>
              <%- row.forestay_replace[attrKey] %>
            <% } else if (typeof _.get(forestay.config.attributes[attrKey], ["model"]) == "string") { %>
              <% /* todo: show something here based on populateBy... maybe? */ %>
              <%= row[attrKey] %>
            <% } else if (attributeType == "boolean") { %>
              <% if(typeof _.get(forestay.config.attributes[attrKey],["meta","forestay","booleanLabels","true"]) === "string" && row[attrKey] === true){ %>
                <%= forestay.config.attributes[attrKey].meta.forestay.booleanLabels.true %>
              <% } else if(typeof _.get(forestay.config.attributes[attrKey],["meta","forestay","booleanLabels","false"]) === "string" && row[attrKey] === false){ %>
                <%= forestay.config.attributes[attrKey].meta.forestay.booleanLabels.false %>
              <% } else { %>
                <%= row[attrKey] %>
              <% } %>
            <%} else if (typeof _.get(forestay.config.attributes[attrKey], ["meta","forestay","replaceIndexHtml"]) == "string"){%>
              <%- forestay.config.attributes[attrKey].meta.forestay.replaceIndexHtml %>
            <% } else { %>
              <%= row[attrKey] %>
            <% } %>
          </td>
        <% } // end else for if hideInIndex %>
      <% }) %>
      <% if(showCreatedAt){ %>
        <td><%= moment(row.createdAt).fromNow()%></td>
      <% } %>
      <% if(showUpdatedAt){ %>
        <td><%= moment(row.updatedAt).fromNow() %></td>
      <% } %>
      <% if(_.get(forestay,['config','forestay','index','hideDeleteButton']) !== true){ %>
      <td>
        <form method="post" action="<%= _.get(forestay, ["config","forestay","urlPrefix"]) %><%= row.id %>/delete">
          <input type="hidden" name='_csrf' value='<%= _csrf %>'>
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
      </td>
      <% } %>

      <% include indexActionsRecordRow.ejs %>
      <% if(_.get(forestay,['config','forestay','index','hideEditButton']) !== true){ %>
        <td>
          <a href="<%= _.get(forestay, ["config","forestay","urlPrefix"]) %><%= row.id %>/edit" class="btn btn-info btn-sm">Edit</a>
        </td>
      <% } %>

    </tr>

  <% }) %>
</table>

<% if(number_of_pages > 1) { %>
<nav aria-label="Page navigation example">
  <ul class="pagination pg-blue justify-content-end">

    <li class="page-item">
        <a href="?pg=1" aria-label="Previous">
            &lt;&lt;
        </a>
    </li>

          <% if(pg > 1) { %>
          <li class="page-item">
              <a href="?pg=<%= parseInt(pg) - 1 %>" aria-label="Previous">
                  <span aria-hidden="true">&lt;</span>
              </a>
          </li>
          <% } else { %>
            <li class="page-item disabled ">
                <a href="javascript:void(0);" aria-label="Previous">
                    &lt;
                </a>
            </li>
            <% } %>

<li class="page-item">
            <a class="text-primary">Page <%= pg %>/<%= number_of_pages%></a>
</li>

<% if(pg < number_of_pages) { %>
  <li class="page-item">
      <a href="?pg=<%= parseInt(pg) + 1 %>" aria-label="Next">
          &gt;
      </a>
  </li>
  <% } else { %>
    <li class="page-item disabled">
        <a href="javascript:void(0);" aria-label="Next">
            &gt;
        </a>
    </li>
    <% } %>

    <li class="page-item">
        <a href="?pg=<%= number_of_pages %>" aria-label="Previous">
            &gt;&gt;
        </a>
    </li>

      </ul>

</nav>
<% } %>

<% if (_.get(forestay,['config','forestay','index','footerHtml'])) { %><%- forestay.config.forestay.index.footerHtml %><% } %>

<style>
  .filterBox {
    height: 32px;
    <% if(_.get(forestay.config.forestay.index, ['hideFilter']) === true) { %>
      display:none;
    <% } %>
  }

ul.pagination {
  font-size: 1.2em;
  background-color: #FFF;
}
ul.pagination  > li{
  padding-left:7px;
  padding-right:7px;
}

ul.pagination > li.disabled a {
  color: #D3D3D3;
}

</style>

