<%
  var pageTitle =
    _.get(forestay, ["config","forestay","title"]) ||
    _.get(forestay, ["model","name"]) ||
    "forestay Model";

  var showId = (_.get(forestay.config.forestay.index, ["showId"]) === true)
  var showCreatedAt = (_.get(forestay.config.forestay.index, ["showCreatedAt"]) === true)
  var showUpdatedAt = (_.get(forestay.config.forestay.index, ["showUpdatedAt"]) === true)

%>
<h1><%= pageTitle %></h1>

<a href="<%= _.get(forestay, ["config","forestay","urlPrefix"]) %>create"><button class="btn btn-primary">Add <%= _.get(forestay, ["model","name"]) %> </button></a>
<hr/>
<table class="table">

  <thead>
    <% if(showId){ %>
      <th>ID</th>
    <% } %>
    <% Object.keys(forestay.config.attributes).forEach(function(attrKey, i){ %>
      <%

      if (_.get(forestay.config.attributes[attrKey], ["meta","forestay","hideInIndex"]) === true){
        // do nothing if this field is meant to be hidden
      }
      else {
      %>
      <th>
        <%
          var this_attr = forestay.config.attributes[attrKey]
        %>
        <%=
          _.get(this_attr, ["meta","forestay","label"]) ||
          attrKey
        %>
      </th>
      <% } // end hideInIndex else %>
    <% }) %>
    <% if(showCreatedAt){ %>
      <th>Created</th>
    <% } %>
    <% if(showUpdatedAt){ %>
      <th>Updated</th>
    <% } %>
    <th>Delete</th>
    <th>Edit</th>

  </thead>
  <% forestay.records.forEach(function(row, index){ %>


    <tr>
      <% if(showId){ %>
        <td>
          <%= row.id %>
        </td>
      <% } %>
      <% Object.keys(forestay.config.attributes).forEach(function(attrKey, i){ %>

      <% if (_.get(forestay.config.attributes[attrKey], ["meta","forestay","hideInIndex"]) === true){
          // do nothing if this field is meant to be hidden
        }
        else { %>
          <td>
            <%= row[attrKey] %>
          </td>
        <% } // end else for if hideInIndex %>
      <% }) %>
      <% if(showCreatedAt){ %>
        <td><%= moment(row.createdAt).fromNow()%></td>
      <% } %>
      <% if(showUpdatedAt){ %>
        <td><%= moment(row.updatedAt).fromNow() %></td>
      <% } %>
      <td>
        <form method="post" action="<%= _.get(forestay, ["config","forestay","urlPrefix"]) %><%= row.id %>/delete">
          <button class="btn btn-danger">Delete</button>
        </form>

      </td>
      <td>
        <a href="<%= _.get(forestay, ["config","forestay","urlPrefix"]) %><%= row.id %>/edit" class="btn btn-info">Edit</a>
      </td>
    </tr>

  <% }) %>
</table>

<% if (_.get(forestay,['config','forestay','index','footerHtml'])) { %><%- forestay.config.forestay.index.footerHtml %><% } %>
